/* resetting styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles  */
body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary-color {
    color: #FD6E0A
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 18px 35px;
    border-width: 0;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-top: 130px;
}

/* nav related styles */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

#nav-title {
    color: #181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style-type: none;
    margin-right: 50px;
}

li>a {
    text-decoration: none;
    color: #474747
}

/* header related styles */
.header {
    background-color: #fff8f3;
}

.banner {
    padding: 30px 30px 0 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right 0 bottom 0;
    background-color: #FFF8F3;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

.banner-text {
    margin-top: 0;
    margin-bottom: 10px;
}

.banner-btn {
    margin-top: 0;
}

.banner-content {
    max-width: 585px;

}

.banner-content>p {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.banner .profile-pic {
    width: 584px;
    height: 676px;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */

.about {
    padding: 130px 160px;
    background-color: #FFF8F3;
    border-radius: 10px;
    width: 1140px;
    height: 550px;
    margin: 130px 0;
    border: 1px solid #FFF8F3;
}

.about-margin-fix {
    margin-top: 0;
}

.section-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px auto;
}

.about-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.about-info-container .about-info {
    text-align: center;
}

/* what i do section */
.what-i-do {
    max-width: 909px;
    margin: 0 auto;
}

.skill-box {

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.skill-ico {
    padding: 30px 0 0 30px;
}

.skill-name {
    padding: 20px 20px 30px 30px;
}

.skill-description {
    padding: 0 33px 30px 33px;
    color: #757575;
    /* font-size: 16px; */
    /* font-weight: 400; */
    /* line-height: 28px; */
}

/* resume section styles */

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 55px;
}

.resume-column-title,
.resume-item-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 20px;
}

.resume-item-description {
    color: #757575;

    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 28px;
}

.download-cv {
    text-align: center;
    /* display: inline-block; */
    margin-top: 50px;
}

/* styles of the footer section */
.footer-title {
    color: #181818;


    font-size: 35px;

    font-weight: 700;

}

.social-media-links {
    margin-top: 30px;
    margin-right: 25px;
}

.footer-description {
    color: #474747;

    font-size: 16px;

    font-weight: 400;
    line-height: 28px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 130px 230px;
    background: #FFF8F3;
    margin-top: 100px;
    gap: 115px;
    width: 100%;
}

.footer-column {
    width: 50%;
}

.footer-title {
    margin-bottom: 20px;
}

#text-input,
#email-input {
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;

}


#message-input {
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background: #FFF;
    padding-top: 30px;
    padding-bottom: 200px;

}

input {
    margin-bottom: 24px;
    margin-top: 0;
    display: block;
    color: #757575;
    border: none;
    font-size: 16px;

    padding-left: 30px;
    font-weight: 400;
    line-height: 28px;
}

.hide {
    display: none;
}

/* Responsive Styles */
@media screen and (max-width: 576px) {

    /* what i do section responsive style */
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }

    .skill-box {
        margin: 0 auto;
        width: 90%;
        background-color: rgba(137, 43, 226, 0.178);
    }

    .what-i-do {
        width: 100%;
    }

    .what-i-do-description {
        font-size: small;
        line-height: 18px;
        padding: 0 10px;
    }

    .skill-description {
        font-size: small;
        line-height: 20px;
    }

    /* resume section responsive style */
    .resume-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
        align-content: center;
    }

    .section-title {
        font-size: 20px;
        margin-top: 30px;
    }

    .resume-column-title,
    .resume-item-title {
        font-size: 14px;
        margin-top: 10px;
    }

    .resume-item-institute {
        font-size: 10px;
        margin-bottom: 10px;
    }

    .resume-item-description {
        font-size: 14px;
        line-height: 20px;
        padding: 0 8px;
    }

    .resume-column-title,
    .resume-item-title,
    .resume-item-institute {
        text-align: center;
    }

    .btn-primary,
    input[type="button"] {
        font-size: 10px;
        font-weight: 900;
        padding: 7px 16px;
        margin: 5px auto;
    }

    .download-cv {
        margin-top: 0;
    }

    /* footer section responsive style */
    footer {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        margin-top: 50px;
        gap: 12px;
    }

    #text-input,
    #email-input {
        height: 36px;
        width: 100%;
    }

    #message-input {
        width: 100%;
        padding: 0;
        height: 110px;
        padding-left: 10px;
        padding-top: 0px;
        padding-bottom: 80px;
    }

    .footer-title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .footer-column {
        width: 100%;
    }

    .footer-description {
        font-size: 12px;
        line-height: 16px;
    }

    .social-media-links {
        margin-top: 10px;
    }

    input {
        margin-bottom: 10px;
        font-size: 10px;
        padding-left: 10px;
    }

    /* ---> some style rules of form button  is on line 412 */
    input[type="button"] {
        display: block;
        margin: 10px auto;
    }

    /* About section responsive styels */
    .about {
        padding: 0;
        width: 100%;
        height: auto;
        margin: 60px 0;
    }
    .about-info-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
    .section-description {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        margin: 14px auto;
    }
    /* Banner section responsive styel */
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #FFF8F3;
        padding: 0;
    }
    .banner-content {
        width: 100%;
    }
    .banner .profile-pic {
        width: 100%;
        height: 50%;
    }
    .banner-greeting {
        font-size: 18px;
    }
    .banner-title {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .banner-content>p {
        font-size: 14px;
        line-height: 18px;
    }
    nav,nav>ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    #nav-title {
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }
    nav li {
        margin: 0;
    }
    li>a {
        font-size: 12px;
    }
}